---
import LayoutBase from "../../layouts/LayoutBase.astro";

const title = "About me";
const description = "About me description is cool";
---

<LayoutBase title={title} description={description}>
  <h1>{title}</h1>

  <main>
    <section></section>
  </main>
</LayoutBase>
