---
import Button from "./Button.astro";
import Contrast from "@/components/lib/icons/Contrast.astro";
const {class: className = "", ...rest} = Astro.props;
---

<Button id="theme-toggle"
        iconOnly
        size="sm"
        variant="muted"
        role="switch"
        aria-checked="false"
        aria-label="Toggle dark mode"
        data-theme-toggle
        class={className}
        {...rest}
>
    <span class="sr-only">Toggle dark mode</span>
    <Contrast slot="icon" size="base"/>
</Button>


