---
// Fundations
import Button from "./Button.astro";
// Icons
import Contrast from "@/components/lib/icons/Contrast.astro";
// Logo Component This component renders an SVG logo and accepts props for customization.
// Props: - class: A string of additional classes to style the SVG.
// - ...rest: Any other valid attributes for an <svg> element (e.g., id, style, role, aria-label, etc.).
// Example Usage: <Logo class="my-custom-class" /> or <Logo id="logo-id" style="width: 50px; height: 50px;" />
const {class: className = "", ...rest} = Astro.props;
---

<Button id="theme-toggle"
        iconOnly
        size="sm"
        variant="muted"
        role="switch"
        aria-checked="false"
        aria-label="Toggle dark mode"
        data-theme-toggle
        class={className}
        {...rest}
>
    <span class="sr-only">Toggle dark mode</span>
    <Contrast slot="icon" size="base"/>
</Button>


