---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Link from "../fundations/elements/Link.astro";
// Data
const data = [
    {
        period: "2020–2022",
        title: "Master's in Graphic Design",
        description: `Focused on Swiss design principles, grid systems, and typography. Completed a thesis on the impact of modernist design on digital interfaces.`,
        location: "Zurich University of the Arts, Zurich, Switzerland",
    },
    {
        period: "2016–2020",
        title: "Bachelor's in Visual Communication",
        description: `Studied visual communication with an emphasis on minimalist design and the history of Swiss typography. Participated in design datashops and exhibitions.`,
        location: "University of Applied Sciences, Basel, Switzerland",
    },
    {
        period: "2014–2016",
        title: "Diploma in Design Fundamentals",
        description: `Learned foundational design principles, including color theory, composition, and the basics of type design. Gained exposure to Swiss design aesthetics.`,
        location: "Geneva School of Design and Art, Geneva, Switzerland",
    },
];
---

<section>
    <Wrapper variant="standard">
        <div id="cv"
             class="grid grid-cols-1 gap-x-12 gap-y-8 lg:grid-cols-3 py-24 border-b border-base-400 dark:border-base-600"
        >
            <div class="lg:sticky lg:top-16 lg:z-40 self-start">
                <Text tag="h2" variant="textBase" class="font-medium text-base-900 dark:text-white pb-2">
                    Curriculum Vitae
                </Text>
                <Link aria-label="Download german CV"
                      download="CV_Ersosi_12_2024.pdf"
                      href="/CV_Ersosi_12_2024.pdf"
                      size="base" variant="accent">
                    Download CV
                </Link>

            </div>
            <div class="flex flex-col gap-12 lg:col-span-2">
                {
                    data.map((data, index) => (
                            <article class="group relative grid grid-cols-1 gap-x-12 gap-y-8 lg:grid-cols-3 lg:items-start ">
                                <div class="lg:col-span-2">
                                    <Text
                                            tag="h3"
                                            variant="textBase"
                                            class=" font-medium tracking-tight text-base-900 dark:text-white    "
                                    >
                                        {data.title}
                                    </Text>
                                    <Text
                                            tag="p"
                                            variant="textSM"
                                            class=" mt-1 text-base-600 dark:text-base-300      "
                                    >
                                        {data.description}
                                    </Text>
                                </div>
                                <Text
                                        tag="p"
                                        variant="textBase"
                                        class="text-base-600 dark:text-base-300  lg:ml-auto"
                                >
                                    <time datetime={data.period}> {data.period}</time>
                                </Text>
                            </article>
                    ))
                }
            </div>
        </div>
    </Wrapper>
</section>
