---
// Fundations
import Text from "@/components/lib/elements/Text.astro";
import Wrapper from "@/components/lib/containers/Wrapper.astro";
import Link from "@/components/lib/elements/Link.astro";
import ArrowRight from "@/components/lib/icons/ArrowRight.astro";
import { Image } from 'astro:assets';
import portrait from '/src/images/portrait.webp';
---

<section>
    <Wrapper variant="standard">
        <div id="home"
             class="grid grid-cols-1 gap-x-12 gap-y-8 lg:grid-cols-3 pb-24 pt-24 lg:pt-16 border-b border-base-400 dark:border-base-600"
        >
            <div class="lg:sticky lg:top-16 lg:z-40 self-start">
                <div class="flex flex-col-reverse sm:flex-row gap-x-12 gap-y-8 sm:items-end">
                    <div class="flex lg:hidden flex-col shrink-0  sm:text-end">
                        <Text tag="h1" variant="textXL"
                              class="font-medium text-accent-700 dark:text-accent-400 whitespace-nowrap">
                            Arthur Ersosi
                        </Text>
                        <Text tag="p" variant="textLG" class="text-base-600 dark:text-base-300 whitespace-nowrap">
                            Design Engineer
                        </Text>
                    </div>
                    <div>
                        <Image width={800}
                               height={800}
                               loading="eager"
                               decoding="async"
                               alt="Portrait Arthur Ersosi"
                               src={portrait}
                               class="aspect-12/10 lg:aspect-square object-cover object-center rounded-xl"
                        />
                    </div>
                </div>

            </div>
            <div class="flex flex-col justify-between gap-6 lg:col-span-2">
                <div class="hidden lg:flex flex-col">
                    <Text tag="h1" variant="textXL" class="font-medium text-accent-700 dark:text-accent-400">
                        Arthur Ersosi
                    </Text>
                    <Text tag="p" variant="textBase" class="text-base-600 dark:text-base-300">
                        Design Engineer
                    </Text>
                </div>

                <Wrapper variant="prose" class="text-balance">
                    <Text tag="p" variant="textSM" class="font-medium text-base-900 dark:text-white">
                        <span id="designYear">10</span>+ Jahre Design Expertise trifft auf<br>
                        <span id="devYear">8</span>+ Jahre modernes Web-Development
                    </Text>
                    <Text tag="p" variant="textBase" >
                        Moin, ich heiße Arthur (er/ihm) und ich lebe in Hamburg.
                    </Text>
                    <Text tag="p" variant="textBase">
                        Als Frontend-Developer und UI/UX-Designer Hybrid habe ich eine unbedingte Leidenschaft
                        für moderne Webanwendungen. Ich liebe es, Probleme zu durchdringen und und durch
                        durchdachte Software elegante Lösungen zu finden.
                    </Text>
                    <Text tag="p" variant="textBase">
                        Das gelingt durch eine klare Vision und Liebe zum Detail, mit dem Anspruch, exzellente Interfaces,
                        eine harmonische Journey und skalierbare Systeme zu schaffen. Software muss für alle, die sie nutzen,
                        ebenso wertvoll sein wie für jene, die sie entwickeln.
                    </Text>
                </Wrapper>


                <Link href="/about" size="sm" variant="accent">
                    Über mich & CV
                    <ArrowRight size="sm"/>
                </Link>

            </div>
        </div>
    </Wrapper>
</section>
