---
import Text from "@/components/lib/elements/Text.astro";
import Wrapper from "@/components/lib/containers/Wrapper.astro";
import { getCollection } from "astro:content";
import ProjectEntry from "@/components/lib/entries/ProjectEntry.astro";
import Link from "@/components/lib/elements/Link.astro";
import ArrowRight from "@/components/lib/icons/ArrowRight.astro";
import { stackGrid, stackGridPadding, stickyElement } from "@/shared/classes.js";

const allProjectsUnsorted = await getCollection("projects");
const allProjects = allProjectsUnsorted.sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
---

<section>
    <Wrapper variant="standard">
        <div class:list={[...stackGrid, ...stackGridPadding]} class="border-b">
            <div class:list={[...stickyElement]}>
                <Text tag="h2" variant="textLG" class="font-medium text-base-900 dark:text-white pb-2">
                    Neuste Projekte
                </Text>
                <Link href="/projects" size="base" variant="accent">
                    Alle Projekte
                    <ArrowRight size="base"/>
                </Link>
            </div>
            <div class="lg:col-span-2 flex flex-col gap-8">
                {allProjects.slice(0, 3).map((project) =>
                        <ProjectEntry project={project}/>)}
            </div>
        </div>
    </Wrapper>
</section>
