.font-serif-500 {
  font-family: 'Nuances Normal Medium Italic', serif;
  font-weight: 500;
  font-style: italic;
  color: #000;
}
.font-mono-500 {
  font-family: 'Slussen Mono Medium', monospace;
  font-weight: 500;
  font-style: normal;
}
.font-mono-400 {
  font-family: 'Slussen Mono';
  font-weight: 400;
  font-style: normal;
}