---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/lib/elements/Text.astro";
import Wrapper from "@/components/lib/containers/Wrapper.astro";
import { stackGrid, stackGridPadding } from "@/shared/classes.js";
const colors = [
  {
    name: "Primary",
    shades: [
      { name: "Primary 50", class: "bg-primary-50" },
      { name: "Primary 100", class: "bg-primary-100" },
      { name: "Primary 200", class: "bg-primary-200" },
      { name: "Primary 300", class: "bg-primary-300" },
      { name: "Primary 400", class: "bg-primary-400" },
      { name: "Primary 500", class: "bg-primary-500" },
      { name: "Primary 600", class: "bg-primary-600" },
      { name: "Primary 700", class: "bg-primary-700" },
      { name: "Primary 800", class: "bg-primary-800" },
      { name: "Primary 900", class: "bg-primary-900" },
      { name: "Primary 950", class: "bg-primary-950" },
    ],
  },
  {
    name: "Accent",
    shades: [
      { name: "Accent 50", class: "bg-accent-50" },
      { name: "Accent 100", class: "bg-accent-100" },
      { name: "Accent 200", class: "bg-accent-200" },
      { name: "Accent 300", class: "bg-accent-300" },
      { name: "Accent 400", class: "bg-accent-400" },
      { name: "Accent 500", class: "bg-accent-500" },
      { name: "Accent 600", class: "bg-accent-600" },
      { name: "Accent 700", class: "bg-accent-700" },
      { name: "Accent 800", class: "bg-accent-800" },
      { name: "Accent 900", class: "bg-accent-900" },
      { name: "Accent 950", class: "bg-accent-950" },
    ],
  },
  {
    name: "Base",
    shades: [
      { name: "Base 50", class: "bg-base-50" },
      { name: "Base 100", class: "bg-base-100" },
      { name: "Base 200", class: "bg-base-200" },
      { name: "Base 300", class: "bg-base-300" },
      { name: "Base 400", class: "bg-base-400" },
      { name: "Base 500", class: "bg-base-500" },
      { name: "Base 600", class: "bg-base-600" },
      { name: "Base 700", class: "bg-base-700" },
      { name: "Base 800", class: "bg-base-800" },
      {
        name: "Base 900",
        class: "bg-base-900 border-base-300 border dark:border-base-600",
      },
      { name: "Base 950", class: "bg-base-950" },
    ],
  },
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pb-8 pt-24">
      <Text
        tag="h1"
        variant="textSM"
        class="font-medium text-base-900 dark:text-white"
      >
        Colors
      </Text>
      <div class="mt-8 border-t border-base-300 dark:border-base-600">
        {
          colors.map((color) => (
            <div class:list={[...stackGrid, ...stackGridPadding]} class="border-b">
              <Text
                tag="p"
                variant="textSM"
                class="font-medium uppercase text-base-900 dark:text-white"
              >
                {color.name}
              </Text>
              <div class=" grid grid-cols-3 lg:grid-cols-4 gap-2 lg:col-span-2">
                {color.shades.map((shade) => (
                  <div class="flex flex-col gap-2">
                    <div
                      class={`size-full aspect-square rounded-md ${shade.class}`}
                    />
                    <span class="text-xs text-base-600 dark:text-base-300">
                      {shade.name}
                    </span>
                  </div>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
