---
import BaseLayout from "@/components/layouts/BaseLayout.astro";
import Text from "@/components/elements/Text.astro";
import Wrapper from "@/components/containers/Wrapper.astro";
import { stackGrid, stackGridPadding } from "@/lib/shared/classes";
const colors = [
  {
    name: "Primary",
    shades: [
      { name: "Primary 50", class: "bg-primary-50" },
      { name: "Primary 100", class: "bg-primary-100" },
      { name: "Primary 200", class: "bg-primary-200" },
      { name: "Primary 300", class: "bg-primary-300" },
      { name: "Primary 400", class: "bg-primary-400" },
      { name: "Primary 500", class: "bg-primary-500" },
      { name: "Primary 600", class: "bg-primary-600" },
      { name: "Primary 700", class: "bg-primary-700" },
      { name: "Primary 800", class: "bg-primary-800" },
      { name: "Primary 900", class: "bg-primary-900" },
      { name: "Primary 950", class: "bg-primary-950" },
    ],
  },
  {
    name: "Secondary",
    shades: [
      { name: "Secondary 50", class: "bg-secondary-50" },
      { name: "Secondary 100", class: "bg-secondary-100" },
      { name: "Secondary 200", class: "bg-secondary-200" },
      { name: "Secondary 300", class: "bg-secondary-300" },
      { name: "Secondary 400", class: "bg-secondary-400" },
      { name: "Secondary 500", class: "bg-secondary-500" },
      { name: "Secondary 600", class: "bg-secondary-600" },
      { name: "Secondary 700", class: "bg-secondary-700" },
      { name: "Secondary 800", class: "bg-secondary-800" },
      { name: "Secondary 900", class: "bg-secondary-900" },
      { name: "Secondary 950", class: "bg-secondary-950" },
    ],
  },
  {
    name: "Base",
    shades: [
      { name: "Base 50", class: "bg-base-50" },
      { name: "Base 100", class: "bg-base-100" },
      { name: "Base 200", class: "bg-base-200" },
      { name: "Base 300", class: "bg-base-300" },
      { name: "Base 400", class: "bg-base-400" },
      { name: "Base 500", class: "bg-base-500" },
      { name: "Base 600", class: "bg-base-600" },
      { name: "Base 700", class: "bg-base-700" },
      { name: "Base 800", class: "bg-base-800" },
      {
        name: "Base 900",
        class: "bg-base-900 border-base-300 border dark:border-base-600",
      },
      { name: "Base 950", class: "bg-base-950" },
    ],
  },
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-24 pb-8">
      <Text tag="h1" variant="textSM"> Colors </Text>
      <div class="border-base-300 dark:border-base-600 mt-8 border-t">
        {
          colors.map((color) => (
            <div class:list={[...stackGrid, ...stackGridPadding]} class="border-b">
              <Text
                tag="p"
                variant="textSM"
                class="text-base-900 font-medium uppercase dark:text-white"
              >
                {color.name}
              </Text>
              <div class="grid grid-cols-3 gap-2 lg:col-span-2 lg:grid-cols-4">
                {color.shades.map((shade) => (
                  <div class="flex flex-col gap-2">
                    <div class={`aspect-square size-full rounded-md ${shade.class}`} />
                    <span class="text-xs">{shade.name}</span>
                  </div>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
