---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/lib/elements/Text.astro";
import Wrapper from "@/components/lib/containers/Wrapper.astro";
// Data array
const pageData = [
  {
    categoryTitle: "Static",
    links: [
      {
        sectionTitle: "Landing Pages",
        links: [
          {
            title: "Home",
            url: "/",
          },
          { title: "404", url: "/404" },
        ],
      },
      {
        sectionTitle: "System Pages",
        links: [
          { title: "Links", url: "/system/links" },
          { title: "Buttons", url: "/system/buttons" },
          { title: "Colors", url: "/system/colors" },
          { title: "Typography", url: "/system/typography" },
          {
            title: "License",
            url: "https://lexingtonthemes.com/legal/license",
          },
          {
            title: "Docs",
            url: "https://lexingtonthemes.com/documentation",
          },
        ],
      },
    ],
  },
  {
    categoryTitle: "Content Collection",
    links: [
      {
        sectionTitle: "Articles",
        links: [
          {
            title: "Home",
            url: "/articles/",
          },
          {
            title: "Post",
            url: "/articles/1",
          },
          { title: "Tag index", url: "/articles/tags" },
          {
            title: "Tag Category",
            url: "/articles/tags/learning",
          }
        ],
      },
    ],
  },
];
---

<BaseLayout>
  <section>
    <Wrapper variant="standard">
      <div
        class="grid grid-cols-1 gap-x-12 gap-y-8 lg:grid-cols-3 py-16 lg:py-24 lg:pt-40 border-b border-base-400 dark:border-base-600"
      >
        <Text
          tag="h1"
          variant="textSM"
          class="font-medium text-base-900 dark:text-white">Overview</Text
        >
        <Text
          tag="p"
          variant="textSM"
          class="text-base-600 dark:text-base-300 lg:col-span-2"
        >
          All pages
        </Text>
      </div>
      <div class="">
        {
          pageData.map((category) => (
            <>
              <div class="grid grid-cols-1 gap-x-12 gap-y-8 lg:grid-cols-3 py-16 lg:py-24">
                <Text
                  tag="h3"
                  variant="textBase"
                  class="font-medium text-base-900 dark:text-white"
                >
                  {category.categoryTitle}
                </Text>
                <div class=" gap-y-8 gap-x-4 grid grid-cols-2 lg:grid-cols-3 lg:col-span-2">
                  {category.links.map((section) => (
                    <div>
                      <Text
                        tag="h4"
                        variant="textSM"
                        class="font-medium text-base-900 dark:text-white"
                      >
                        {section.sectionTitle}
                      </Text>
                      <div class="flex flex-col mt-1 text-xs gap-1">
                        {section.links.map((link) => (
                          <a
                            class="text-base-600 dark:text-base-300 hover:text-base-900 dark:hover:text-white text-xs"
                            href={link.url}
                          >
                            {link.title}
                          </a>
                        ))}
                      </div>
                    </div>
                  ))}
                </div>
              </div>
            </>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
