---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/lib/elements/Text.astro";
import Wrapper from "@/components/lib/containers/Wrapper.astro";
---

<BaseLayout>
  <Wrapper variant="standard" class="pt-24 pb-8">
    <Text tag="h1" variant="textSM">Typography </Text>

    <Text tag="p" variant="textBase" class="mt-1 text-balance"> Inter </Text>
    <div
      class="text-base-600 dark:text-base-300 divide-divide-primary/10 dark:divide-base-800 border-base-300 dark:border-base-600 mt-8 flex flex-col divide-y border-t pt-8"
    >
      <div class="py-4">
        <Text tag="p" variant="textXS"> Text XS </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="textSM"> Text SM </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="textBase"> Text Base </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="textLG"> Text LG </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="textXL"> Text XL </Text>
      </div>

      <div class="py-4">
        <Text tag="p" variant="displaySM" class="upercase"> Display SM </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="displayMD" class="upercase"> Display MD </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="displayLG" class="upercase"> Display LG </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="displayXL" class="upercase"> Display XL </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="display2XL" class="upercase"> Display 2XL </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="display3XL" class="upercase"> Display 3XL </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="display4XL" class="upercase"> Display 4XL </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="display5XL" class="upercase"> Display 5XL </Text>
      </div>
      <div class="py-4">
        <Text tag="p" variant="display6XL" class="upercase"> Display 6XL </Text>
      </div>
    </div>
  </Wrapper>
</BaseLayout>
