---
import { getCollection } from "astro:content";
import BlogPostLink from "../../components/BlogPostLink/BlogPostLink.astro";
import LayoutBase from "../../layouts/LayoutBase.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const title = "Blog test";
const description = "Blog description is cool";
---

<LayoutBase title={title} description={description}>
  <h1>{title}</h1>

  <main>
    <section class="blog-post-filter"></section>
    <section class="blog-post-links">
      {posts.map((post) => <BlogPostLink post={post} />)}
    </section>
  </main>
</LayoutBase>
