---
interface Props {
  variant?: "standard" | "prose" | "proseBase";
  class?: string;
}
const { variant = "standard", class: extraClass = "" } = Astro.props;

const variantClasses = {
  standard: "max-w-7xl mx-auto px-4 sm:px-12 lg:px-16",
  proseBase: "prose-base",
  prose: [
    "prose",
    "prose-base",

    "prose-h1:text-2xl",
    "prose-h1:lg:text-3xl",
    "prose-h1:3xl:text-4xl",

    "prose-h2:text-xl",
    "prose-h2:lg:text-2xl",
    "prose-h2:3xl:text-3xl",

    "prose-h3:text-lg",
    "prose-h3:lg:text-xl",
    "prose-h3:3xl:text-2xl",

    "prose-h4:text-base",
    "prose-h4:lg:text-lg",
    "prose-h4:3xl:text-xl",

    "prose-headings:font-medium",

    "text-base-600",
    "dark:text-base-300",
    "prose-headings:text-base-900",
    "dark:prose-headings:text-white",
    "prose-blockquote:text-base-500",
    "dark:prose-blockquote:text-base-600",
    "dark:text-base-300",
    "dark:prose-blockquote:border-base-500",
    "overflow-visible",
    "prose-blockquote:font-normal",
    "prose-blockquote:tracking-normal",
    "prose-img:border",
    "prose-img:border-base-300",
    "dark:prose-img:border-base-700",
    "dark:prose-code:text-white",
    "prose-a:text-primary-300",
    "hover:prose-a:text-primary-500",
    "prose-hr:border-base-300",
    "dark:prose-hr:border-base-700",
    "prose-pre:border-none",
    "prose-pre:rounded-xl",
    "prose-strong:font-medium",
    "prose-a:duration-400",
    "dark:prose-strong:text-white",
    "max-w-none",
    "prose-pre:scrollbar-hide",
  ].join(" "),
};
const classes = `${variantClasses[variant]} ${extraClass}`.trim();
---

<div class={classes}>
  <!-- Render the default slot content -->
  <slot />
</div>
