---
import type { ComponentProps } from "astro/types";
import { type Picture } from "astro:assets";
import Photo from "./Photo.astro";

export type CarouselSlide = ComponentProps<typeof Picture> & {
  src: string;
  alt: string;
};
const { width: w, height: h } = Astro.props;
const aspectRatio = Number(w) / Number(h);
const width = aspectRatio > 1 ? "100%" : "auto";
const height = "100%";
---

<li
  class="carousel__slide pointer-events-none absolute hidden max-w-full list-none items-center justify-center select-none"
  style={{ aspectRatio, width, height }}
>
  <Photo
    {...Astro.props}
    classWrapper="carousel__slide-photo rounded-lg md:rounded-xl max-h-[calc(100vh-2rem)] shadow-lg [&>*]:basis-full"
    aspectRatio={aspectRatio}
    isCarousel={true}
    loading="lazy"
  />
</li>

<style>
  .carousel__slide--visible {
    display: flex;
    z-index: 150;
  }

  .carousel__slide * {
    pointer-events: all;
  }
</style>
