---
import BaseLayout from "@/components/layouts/BaseLayout.astro";
import Wrapper from "@/components/containers/Wrapper.astro";
import Button from "@/components/elements/Button.astro";
import { stackGrid, stackGridPadding } from "@/lib/shared/abstracts";
---

<BaseLayout pageTitle={"a11ytip"} pageDescription={"a11ytip description"} image="/images/portrait.webp">
  <Wrapper variant="standard" class={"py-32 border a11ytip-force-active"}>
    <div class="m-auto h-[504px] w-[1020px] border">
      <div class="a11ytip-grid h-full w-full px-48 py-32">
        <Button
          data-a11ytip-top-left
          data-a11ytip-text="a11ytip text"
          size="sm"
          variant="primary"
          data-a11ytip-force-active
        >
          a11ytip-top-left
        </Button>

        <Button data-a11ytip-top aria-label="a11ytip text" size="sm" variant="primary"> a11ytip-top </Button>

        <Button data-a11ytip-top-right aria-label="a11ytip text" size="sm" variant="primary">
          a11ytip-top-right
        </Button>

        <Button data-a11ytip-left aria-label="a11ytip text" size="sm" variant="primary"> a11ytip-left </Button>

        <div class="name text-2xl font-medium">a11ytip</div>

        <Button data-a11ytip-right aria-label="a11ytip text" size="sm" variant="primary"> a11ytip-right </Button>

        <Button data-a11ytip-bottom-left aria-label="a11ytip text" size="sm" variant="primary">
          a11ytip-bottom-left
        </Button>

        <Button data-a11ytip-bottom aria-label="a11ytip text" size="sm" variant="primary"> a11ytip-bottom </Button>

        <Button data-a11ytip-bottom-right aria-label="a11ytip text" size="sm" variant="primary">
          a11ytip-bottom-right
        </Button>
      </div>
    </div>

    <style>
      .a11ytip-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 3rem;
        place-items: center;
      }

      button {
        width: 100%;
      }

      .name {
        grid-column: 2;
        grid-row: 2;
      }
    </style>
  </Wrapper>
</BaseLayout>
