/* Footer Clock Ticking Animation*/
:root {
    --color-text: var(--color-base-500);
    --color-flash: var(--color-black);
}

.dark {
    --color-text: var(--color-base-400);
    --color-flash: var(--color-white);
}

.flash-text {
    animation: flash 2s infinite;
}

@keyframes flash {
    5%, 45% {
        color: var(--color-text);
    }
    55%, 95% {
        color: var(--color-flash);
    }
}