/* Custom Scrollbar Styles */

/* Light Theme Colors */
:root {
	--scrollbar-thumb-color: var(--color-primary-600);
	--scrollbar-track-color: var(--color-white);
}

/* Dark Theme Colors */
:root.dark {
	--scrollbar-thumb-color: var(--color-primary-300);
	--scrollbar-track-color: var(--color-base-900);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
	border: 2px solid var(--scrollbar-track-color);
}

::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track-color);
}

/* Scrollbar Container */

/* Width and height are the same for horizontal and vertical scrollbars. */
::-webkit-scrollbar {
	width: 12px;
	height: 8px;
}

/* Scrollbar Track Styles */
::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
	border-radius: 12px;
}

