// Breakpoint Variables
// These variables define common breakpoints for responsive design,
// ensuring a consistent approach across the project.
// Each breakpoint corresponds to a common device or viewport width,
// facilitating targeted styles for different screen sizes.

$break-xs: 480px;
$break-sm: 640px;
$break-smd: 768px;
$break-md: 1024px;
$break-lg: 1440px;
$break-xl: 1920px;

// $breakpoints-map
// Maps screen size names to their corresponding breakpoint variables.

// @example
//
// @each $breakpoint-name, $breakpoint-size in $breakpoints-map {
//   .container-#{$breakpoint-name} {
//     @media ( min-width: #{$breakpoint-size}px ) {
//       padding: 30px;
//     }
//   }
// }

$breakpoints-map: (
  xs: $break-xs,
  sm: $break-sm,
  smd: $break-smd,
  md: $break-md,
  lg: $break-lg,
  xl: $break-xl,
);
