@use '../../utils/color-palette-generator' as palette;

$primary-color: #ff7300;
$secondary-color: #3C4884;

//$shades: 10, 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950;
//
//@each $shade in $shades {
//  .color-primary-#{$shade} {
//    color: palette.generate($primary-color, $shade);
//  }
//  .bg-primary-#{$shade} {
//    background-color: palette.generate($primary-color, $shade);
//  }
//}

.color-primary-500 {
  color: var(--color-primary-500);
}

:root {
  --color-primary-1: #{palette.generate($primary-color, 1)};
  --color-primary-10: #{palette.generate($primary-color, 10)};
  --color-primary-50: #{palette.generate($primary-color, 50)};
  --color-primary-100: #{palette.generate($primary-color, 100)};
  --color-primary-500: #{$primary-color};
  --color-secondary-500: #{$secondary-color};
  --gradient-primary: linear-gradient(
                  45deg,
                  var(--color-primary-500),
                  var(--color-primary-100) 30%,
                  var(--color-primary-50) 50%,
                  white 80%
  );
}