@use "../../utils/color-palette-generator" as palette;

$primary-color: #1745CE;
$secondary-color: #FFE917;

$shades: 5, 10, 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;

:root {
  @each $shade in $shades {
    --color-primary-#{$shade}: #{palette.generate(
        $primary-color,
        $shade,
        0.025,
        0.95
      )};
  }
  @each $shade in $shades {
    --color-secondary-#{$shade}: #{palette.generate(
        $secondary-color,
        $shade,
        0.025,
        0.95
      )};
  }
}

.color-primary-500 {
  color: var(--color-primary-500);
}

:root {
  //--color-primary-1: #{palette.generate($primary-color, 1)};
  //--color-primary-10: #{palette.generate($primary-color, 10)};
  //--color-primary-50: #{palette.generate($primary-color, 50)};
  //--color-primary-100: #{palette.generate($primary-color, 100)};
  //--color-primary-500: #{$primary-color};
  --color-secondary-500: #{$secondary-color};
  --gradient-primary: linear-gradient(
    45deg,
    var(--color-secondary-500),
    var(--color-secondary-100) 30%,
    var(--color-secondary-50) 50%,
    white 80%
  );
}
