---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/lib/elements/Text.astro";
import Link from "@/components/lib/elements/Link.astro";
import Wrapper from "@/components/lib/containers/Wrapper.astro";
import ArrowLeft from "@/components/lib/icons/ArrowLeft.astro";
import { stackGrid, stackGridPadding } from "@/shared/classes.js";
---

<BaseLayout
	siteTitle="404 - Seite nicht gefunden"
	siteDescription="Diese Seite existiert nicht, hat nie existiert oder wurde versehentlich oder absichtlich entfernt."
>
	<section>
		<Wrapper variant="standard">
			<div class:list={[...stackGrid, ...stackGridPadding]}>
				<div class="flex flex-col gap-8">
					<Link href="/" size="base" variant="accent">
						<ArrowLeft size="base" />
						Zum Start
					</Link>
					<div class="flex flex-col gap-8">
						<Text tag="h1" variant="text2XL" class="text-base-900 font-medium dark:text-white">
							404 — Nichts gefunden
						</Text>
						<Text tag="p" variant="textBase" class="text-base-600 dark:text-base-300">
							Sie fühlen sich verloren? Sie sind nicht allein.
						</Text>
					</div>
				</div>
				<div class="flex flex-col gap-8 lg:col-span-2">
					<Text tag="h2" variant="displayLG" class="text-base-600 dark:text-base-300">
						¯\_(ツ)_/¯
					</Text>
					<Text tag="p" variant="textBase" class="text-base-600 dark:text-base-300">
						Diese Seite existiert nicht, hat nie existiert oder wurde versehentlich oder absichtlich
						entfernt. Überprüfen Sie, ob Sie sich vertippt haben, oder gehen Sie zur Startseite
						zurück.
					</Text>
				</div>
			</div>
		</Wrapper>
	</section>
</BaseLayout>
