---
import BaseLayout from "@/components/layouts/BaseLayout.astro";
import Text from "@/components/elements/Text.astro";
import Link from "@/components/elements/Link.astro";
import Wrapper from "@/components/containers/Wrapper.astro";
import ArrowLeft from "@/lib/icons/ArrowLeft.astro";
import { stackGrid, stackGridPadding } from "@/lib/shared/abstracts";
---

<BaseLayout
  pageTitle="404 | Seite nicht gefunden"
  pageDescription="Diese Seite existiert nicht oder wurde entfernt. Kehren Sie zur Startseite zurück, um die verfügbaren Inhalte zu entdecken."
>
  <section>
    <Wrapper variant="standard">
      <div class:list={[...stackGrid, ...stackGridPadding]}>
        <Text tag="h1" isPrimary> 404 — Nichts gefunden </Text>
        <div class="grid gap-8 lg:col-span-2 lg:mt-2.5">
          <Text tag="p"> Sie fühlen sich verloren? Sie sind nicht allein.</Text>

          <Text tag="p">
            Diese Seite existiert nicht, hat nie existiert oder wurde versehentlich oder absichtlich entfernt
            ¯\_(ツ)_/¯. Überprüfen Sie, ob Sie sich vertippt haben, oder gehen Sie zur Startseite zurück.
          </Text>
          <Link href="/" size="base" variant="primary">
            <ArrowLeft size="base" />
            Zum Start
          </Link>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
