---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/lib/elements/Text.astro";
import Link from "@/components/lib/elements/Link.astro";
import Wrapper from "@/components/lib/containers/Wrapper.astro";
import ArrowLeft from "@/components/lib/icons/ArrowLeft.astro";
import { stackGrid, stackGridPadding } from "@/shared/classes";
---

<BaseLayout
	pageTitle="404 | Seite nicht gefunden"
	pageDescription="Diese Seite existiert nicht oder wurde entfernt. Kehren Sie zur Startseite zurück, um die verfügbaren Inhalte zu entdecken."
>
	<section>
		<Wrapper variant="standard">
			<div class:list={[...stackGrid, ...stackGridPadding]}>
				<div class="flex flex-col gap-8">
					<Link href="/" size="base" variant="primary">
						<ArrowLeft size="base" />
						Zum Start
					</Link>
					<div class="flex flex-col gap-8">
						<Text tag="h1" variant="text2XL"> 404 — Nichts gefunden </Text>
						<Text tag="p" variant="textBase">
							Sie fühlen sich verloren? Sie sind nicht allein.
						</Text>
					</div>
				</div>
				<div class="flex flex-col gap-8 lg:col-span-2">
					<Text tag="h2" variant="displayLG"> ¯\_(ツ)_/¯ </Text>
					<Text tag="p" variant="textBase">
						Diese Seite existiert nicht, hat nie existiert oder wurde versehentlich oder absichtlich
						entfernt. Überprüfen Sie, ob Sie sich vertippt haben, oder gehen Sie zur Startseite
						zurück.
					</Text>
				</div>
			</div>
		</Wrapper>
	</section>
</BaseLayout>
