
main {
  font-size: 20px;
  line-height: 1.6;
  height: 100%;



  h1 {
    --base: 2rem;
    line-height: var(--base);
    text-align: center;
    .arthur {
      font-size: var(--base);
    }
    .ersosi {
      font-size: calc(var(--base) * 1.1);
      letter-spacing: calc(var(--base) * 0.05);
      -webkit-text-stroke: 1px black;
    }
    .engineer {
      font-size: calc(var(--base) * 0.7);
      letter-spacing: calc(var(--base) * 0.05);
    }
  }
}







