@use '../utils/color-palette-generator' as palette;

$primary-color: #ff7300;

$shades: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950;

@each $shade in $shades {
  .color-primary-#{$shade} {
    color: palette.generate($primary-color, $shade);
  }
  .bg-primary-#{$shade} {
    background-color: palette.generate($primary-color, $shade);
  }
}

:root {
  --accent-100: #{palette.generate($primary-color, 100)};
  --accent-500: #{$primary-color};
  --accent-gradient: linear-gradient(
                  45deg,
                  var(--accent-500),
                  var(--accent-100) 30%,
                  white 60%
  );
}