---
import Text from "@/components/elements/Text.astro";
import Wrapper from "@/components/containers/Wrapper.astro";
import ArticlesEntry from "@/components/entries/ArticlesEntry.astro";
import { getCollection } from "astro:content";
import Link from "@/components/elements/Link.astro";
import { stackGrid, stackGridPadding } from "@/lib/shared/classes";
import ArrowRight from "@/lib/icons/ArrowRight.astro";

const allPostsUnsorted = await getCollection("articles");
const allPosts = allPostsUnsorted.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<section>
  <Wrapper variant="standard">
    <div class:list={[...stackGrid, ...stackGridPadding]} class="border-b">
      <div>
        <Text tag="h2" class="pb-2"> Neueste Artikel </Text>
        <Link href="/articles" size="base" variant="primary">
          Alle Artikel
          <ArrowRight size="base" />
        </Link>
      </div>
      <div class="flex flex-col gap-12 lg:col-span-2">
        {allPosts.slice(0, 3).map((post) => <ArticlesEntry post={post} />)}
      </div>
    </div>
  </Wrapper>
</section>
