---
import Text from "@/components/elements/Text.astro";
import Wrapper from "@/components/containers/Wrapper.astro";
import Link from "@/components/elements/Link.astro";
import ArrowRight from "@/lib/icons/ArrowRight.astro";
import { Image } from "astro:assets";
import portrait from "/src/images/portrait.webp";
import { stackGrid, stackGridPadding } from "@/lib/shared/abstracts";

const imgClasses = ["aspect-12/8", "lg:aspect-square", "sm:w-2/3", "lg:w-full", "print:w-1/2"];
---

<section>
  <Wrapper variant="standard">
    <div class:list={[...stackGrid, ...stackGridPadding]} class="border-b">
      <div>
        <div class="flex flex-col-reverse gap-x-12 gap-y-10 sm:flex-row sm:items-end">
          <div>
            <Image
              alt="Porträt Arthur Ersosi"
              src={portrait}
              widths={[320, 480, 640, 768, 1024, 1280, 1440]}
              sizes={`
								(max-width: 639px) 100vw,
								(max-width: 767px) 100vw,
								(max-width: 1023px) 50vw,
								(max-width: 1279px) 33vw,
								(max-width: 1439px) 25vw,
								400px
							`}
              layout="constrained"
              loading="eager"
              decoding="async"
              class="bg-secondary-100 aspect-12/6 rounded-xl object-cover object-center shadow-lg lg:aspect-square"
            />
          </div>
        </div>
      </div>
      <div class="grid justify-between gap-8 lg:col-span-2">
        <!-- Desktop -->
        <Wrapper variant="proseBase">
          <Text tag="h1" variant="textXL" class="hidden sm:block" isPrimary>
            <span id="designYear">9</span>+ Jahre Design Expertise trifft
            <br class="hidden sm:block" />
            <span id="devYear">7</span>+ Jahre moderne Web-Entwicklung
          </Text>
          <Text tag="h1" variant="textLG" class="!font-bold sm:hidden" isPrimary>
            <span id="designYear">9</span>+ Jahre Design Expertise trifft
            <br />
            <span id="devYear">7</span>+ Jahre moderne Web-Entwicklung
          </Text>

          <Text tag="p">
            Moin! Mein Name ist <strong>Arthur Ersosi</strong> (er/ihm) und ich bin ein
            <strong>Design-Engineer</strong>; also ein Designer, der programmiert. Ich lebe in <strong>Hamburg</strong>,
            aber meine Heimat ist das „World Wide Web“.
          </Text>
          <Text tag="p">
            Als <strong>Frontend-Developer</strong> und <strong>UI/UX-Designer</strong>-Hybrid habe ich eine unbedingte
            Leidenschaft für moderne Webanwendungen. Ich liebe es, Themen und Probleme zu durchdringen, an hartnäckigen
            Herausforderungen dranzubleiben und den Sweet Spot zwischen pragmatischer und eleganter Lösung zu finden.
          </Text>
          <Text tag="p">
            Das gelingt durch eine klare Vision und Liebe zum Detail, mit dem Anspruch, exzellente Interfaces zu
            gestalten, eine harmonische User-Journey zu bieten und skalierbare Systeme zu entwickeln.
          </Text>
        </Wrapper>

        <Link href="/about" size="base" variant="primary">
          Über mich & CV
          <ArrowRight size="base" />
        </Link>
      </div>
    </div>
  </Wrapper>
</section>
