---
import H1 from "../../components/H1/H1.astro";
import LayoutBase from "../../layouts/LayoutBase.astro";

const title = "The work";
const description = "The work description is cool";
---

<LayoutBase title={title} description={description}>
  <H1 title={title} />

  <main>
    <section></section>
  </main>
</LayoutBase>
