---
import Button from "./Button.astro";
import Contrast from "@/lib/icons/Contrast.astro";
const { class: className = "", ...rest } = Astro.props;
---

<div id="theme-toggle" class="w-full md:w-fit">
  <Button
    iconOnly
    size="sm"
    variant="default"
    role="switch"
    aria-checked="false"
    data-theme-toggle
    aria-label="Dunkler Modus"
    data-a11ytip-bottom
    class={`${className} hidden md:flex`}
    {...rest}
  >
    <Contrast slot="icon" size="base" />
  </Button>

  <Button
    size="sm"
    variant="outline"
    role="switch"
    aria-checked="false"
    data-theme-toggle
    aria-label="Dunkler Modus"
    class={`${className} md:hidden w-full`}
    {...rest}
  >
    <Contrast slot="left-icon" size="base" />
    <div class="themeText ml-2">Dunkler Modus</div>
  </Button>
</div>
