html, body {
  height: 100%;
}

html {
  font-family: system-ui, sans-serif;
  background: #f6f2d9;
  //background: var(--color-primary-1);
  //background-image: var(--gradient-primary);

}

code {
  font-family: Menlo,
  Monaco,
  Lucida Console,
  Liberation Mono,
  DejaVu Sans Mono,
  Bitstream Vera Sans Mono,
  Courier New,
  monospace;
}