.cli-card-wrapper {
  transition: perspective 0.25s ease;
  perspective: 150rem;
}

.head, .body, .cli-card {
  transform-style: preserve-3d;
}

.cli-card {
  transition: transform 0.15s ease-out;
}

.head, .body,
.navigation, .title,
.comment, .npx {
  transition: transform 0.15s ease-out;
  transform: translateZ(5rem);
}
