<nav class="flex gap-8 justify-end px-8 py-6">
  <a href="/">Home</a>
  <a href="/work">Work</a>
  <a href="/free-tools/how-much-is-my-whey">Free Tools</a>
  <a href="/blog">Blog</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
</nav>
