---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/lib/elements/Text.astro";
import Wrapper from "@/components/lib/containers/Wrapper.astro";
import ArticlesEntry from "@/components/lib/entries/ArticlesEntry.astro";
import { stackGrid, stackGridPadding, stickyElement } from "@/shared/classes.ts";
import CarouselWrapper from "@/components/lib/elements/CarouselWrapper.astro";

const { frontmatter } = Astro.props;
const allPosts = await getCollection("articles");
const relatedPosts = allPosts.filter(
	(post) =>
		post.data.tags.some((tag) => frontmatter.tags.includes(tag)) &&
		post.data.viewerTitle !== frontmatter.viewerTitle,
);
---

<BaseLayout>
	<section>
		<Wrapper variant="standard">
			<div class:list={[...stackGrid, ...stackGridPadding]}>
				<div class:list={[...stickyElement]}>
					<div class="flex flex-col gap-8">
						<Text tag="h1" variant="text2XL" class="text-base-900 font-medium dark:text-white">
							{frontmatter.title}
						</Text>
						<Text tag="p" variant="textBase" class="text-base-600 dark:text-base-300">
							{frontmatter.description}
						</Text>
						<slot name="extra" />
					</div>
				</div>
				<div class="lg:col-span-2">
					<CarouselWrapper images={frontmatter.images} />

					<Wrapper variant="prose">
						<slot />
					</Wrapper>
				</div>
			</div>
		</Wrapper>
	</section>
	{
		relatedPosts.length > 0 && (
			<section>
				<Wrapper variant="standard">
					<div class:list={[...stackGrid, ...stackGridPadding]} class="border-t">
						<Text tag="h2" variant="textBase" class="text-base-900 font-medium dark:text-white">
							Ähnliche Artikel
						</Text>
						<div class="flex flex-col gap-12 lg:col-span-2">
							{relatedPosts.slice(0, 3).map((post) => (
								<ArticlesEntry post={post} />
							))}
						</div>
					</div>
				</Wrapper>
			</section>
		)
	}
</BaseLayout>
