---
import { getEntry } from 'astro:content';
import PageLayout from "@/layouts/PageLayout.astro";
import Button from "../../components/fundations/elements/Button.astro";

const entry = await getEntry('pages', 'about-me');
const {Content} = await entry.render();
---

<PageLayout frontmatter={entry.data}>
    <Fragment slot="extra">
        <Button aria-label="CV herunterladen"
                isLink={true}
                download="CV_Arthur_Ersosi_2025_DE.pdf"
                href="/CV_Arthur_Ersosi_2025_DE.pdf"
                size="sm" variant="accent">
            CV herunterladen
        </Button>
    </Fragment>

    <Content/>
</PageLayout>
