@use '../../styles/styles/abstracts/variables/index' as v;

.portrait-wrapper {
  pointer-events: none;
  position: fixed;
  bottom: -100%;
  right: -5rem;
  transition: bottom 0.5s ease-in-out;
  width: clamp(22.5rem, 19.8913rem + 13.0435vw, 30rem);

  @media screen and (min-width: v.$break-smd) {
    &.active {
      bottom: 0;
    }
  }


}
