/* Configuration */
:root {
    /* Text */
    --a11ytip-text-size: 1rem;
    --a11ytip-text-color: white;

    /* Box */
    --a11ytip-bg-color: var(--color-base-700, black);
    --a11ytip-padding-x: 0.375rem;
    --a11ytip-padding-y: 0.5rem;
    --a11ytip-border-radius: 0.375rem;
    --a11ytip-max-width: 14ch;

    /* Animation */
    --a11ytip-start-position: calc(100% + 4px);
    --a11ytip-end-position: calc(100% + 12px);
    --a11ytip-transition-duration: 350ms;
}

/* Dark Theme */
:root.dark {
    --a11ytip-text-color: black;
    --a11ytip-bg-color: var(--color-base-100, white);
}