---
// Fundations
import Button from "@/components/lib/elements/Button.astro";
// Icons
import Eye from "@/components/lib/icons/Eye.astro";
import Book from "@/components/lib/icons/Book.astro";
import AtSign from "@/components/lib/icons/AtSign.astro";
import Tool from "@/components/lib/icons/Tool.astro";
import User from "@/components/lib/icons/User.astro";
import Zap from "@/components/lib/icons/Zap.astro";
// Scripts
import ThemeToggle from "@/components/lib/elements/ThemeToggle.astro";

const baseClass = [
    "fixed",
    "w-fit",
    "z-50",

    // mobile center
    "top-5",
    "left-1/2",
    "-translate-x-1/2",

    // lg right fixed
    "lg:top-14",
    "lg:right-14",
    "lg:left-auto",
    "lg:translate-x-0",

    // xl right aligned
    "xl:left-1/2",
    "xl:translate-x-60",
];

const navItems = [
    {href: "/#home", ariaLabel: "Startseite", Icon: Zap},
    {href: "/projects", ariaLabel: "Projekte", Icon: Tool},
    {href: "/blog/", ariaLabel: "Artikel", Icon: Book},
    {href: "/about-me", ariaLabel: "Über mich", Icon: User},
    {href: "/#socials", ariaLabel: "Kontakt", Icon: AtSign},
    {href: "/system/overview", ariaLabel: "System Overview", Icon: Eye},
];
---


<div class:list={[
    ...baseClass,
]}>

    <script is:inline>
        window.addEventListener('DOMContentLoaded', () => {
            function highlightHashNav() {
                const hash = window.location.hash;
                const currentUrl = window.location.pathname + hash;

                const allLinks = document.querySelectorAll('nav#mainNav a[href]');
                const activeClasses = [
                    'bg-secondary-400',
                    'hover:bg-secondary-300',
                    'dark:bg-secondary-400',
                    'dark:hover:bg-secondary-300',
                    '!text-base-800',
                ];

                allLinks.forEach((el) => {
                    const linkHref = el.getAttribute('href');

                    if (linkHref === currentUrl || linkHref === hash) {
                        activeClasses.forEach(c => el.classList.add(c));
                    } else {
                        activeClasses.forEach(c => el.classList.remove(c));
                    }
                });
            }

            highlightHashNav();
            window.addEventListener('hashchange', highlightHashNav);
        });
    </script>

    <nav id="mainNav" class="bg-base-50/50 dark:bg-base-900/50 backdrop-blur-xs rounded-xl w-auto">
        <div class="flex items-center p-2 gap-2">
            {navItems.map(({href, ariaLabel, Icon}) => (
                    <Button isLink={true}
                            iconOnly
                            size="sm"
                            variant="accent"
                            href={href}
                            aria-label={ariaLabel}
                            a11ytip-bottom
                            key={href}
                    >
                        <Icon slot="icon" size="sm"/>
                    </Button>
            ))}

            <ThemeToggle aria-label="Hell/Dunkel Modus" a11ytip-bottom/>
        </div>
    </nav>
</div>
