---
import Button from "@/components/lib/elements/Button.astro";
import Eye from "@/components/lib/icons/Eye.astro";
import Book from "@/components/lib/icons/Book.astro";
import AtSign from "@/components/lib/icons/AtSign.astro";
import Tool from "@/components/lib/icons/Tool.astro";
import User from "@/components/lib/icons/User.astro";
import Zap from "@/components/lib/icons/Zap.astro";
import ThemeToggle from "@/components/lib/elements/ThemeToggle.astro";

const baseClass = [
    "fixed",
    "w-fit",
    "z-50",

    "transition-[top]",
    "duration-500",

    "right-2",
    "sm:right-10",
    "lg:right-14",
    "xl:left-1/2",
    "xl:translate-x-58",
    "2xl:translate-x-60",

    "top-5",
];

const navItems = [
    {href: "/#home", ariaLabel: "Startseite", Icon: Zap},
    {href: "/projects", ariaLabel: "Projekte", Icon: Tool},
    {href: "/articles/", ariaLabel: "Artikel", Icon: Book},
    {href: "/about", ariaLabel: "Über mich", Icon: User},
    {href: "/#socials", ariaLabel: "Kontakt", Icon: AtSign},
    {href: "/system/overview", ariaLabel: "System Overview", Icon: Eye},
];
---

<div id="mainNavWrapper" class:list={[...baseClass]}>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const navWrapper = document.getElementById("mainNavWrapper");

            // Überprüfen, ob das Element existiert
            if (navWrapper) {
                window.addEventListener("scroll", () => {
                    if (window.scrollY > 96) {
                        navWrapper.classList.remove("top-5");
                        navWrapper.classList.add("top-2");
                    } else {
                        navWrapper.classList.remove("top-2");
                        navWrapper.classList.add("top-5");
                    }
                });
            }
        });

    </script>

    <nav id="mainNav" class="bg-base-200/50 dark:bg-base-800/50 backdrop-blur-xs rounded-xl w-auto">
        <div class="flex items-center p-2 gap-2">
            {navItems.map(({href, ariaLabel, Icon}) => (
                    <Button isLink={true}
                            iconOnly
                            size="sm"
                            variant="accent"
                            href={href}
                            aria-label={ariaLabel}
                            a11ytip-bottom
                            key={href}
                    >
                        <Icon slot="icon" size="sm"/>
                    </Button>
            ))}

            <ThemeToggle aria-label="Hell/Dunkel Modus" a11ytip-bottom/>
        </div>
    </nav>
</div>
